@inject IAuthService authService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Billetera.Server</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        @if (!estaAutenticado)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </div>
        }

        @if (estaAutenticado)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="billetera">
                    <span class="bi bi-wallet2" aria-hidden="true"></span> Mi Billetera
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="movimientos">
                    <span class="bi bi-card-list" aria-hidden="true"></span> Movimientos
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool estaAutenticado = false;

    protected override async Task OnInitializedAsync()
    {
        estaAutenticado = await authService.EstaAutenticado();
        StateHasChanged();
    }
}